.form-label {
    margin-bottom: 1.0rem;
}

label {
    display: block;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 1rem;
}

.btn-primary {
    color: white;
    background: red;
}

.btn {
    color: white;
    background: red;
    padding: 0.75rem;
    font-weight: 600;
    margin-right: 20px;
    border-radius: 5px;
}

.card {
    padding: 50px;
    background: lightblue;
    font-family: Verdana;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}